body {
    overflow-x: hidden;
    font-family: "Lucida Console", monospace;
    letter-spacing: 1.5px;
    color: white;
}

#video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.clock {
    font-size: 50px;
    margin: 100px 0px 0px 70px;
}

#name {
    font-size: 50px;
    margin: 30px 0px 0px 70px;
}

#hidden-img {
    display: none;
}

#hidden-text:hover ~ #hidden-img {
    display: block;
    position: absolute;
    z-index: 1;
}

.bio-container {
    font-size: 30px;
    margin: 300px 0px 0px 70px;
}

a {
    color: white;
}