@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
    overflow-x: hidden;
    /*font-family: "Lucida Console", monospace;*/
    font-family: 'Fira Mono', monospace;
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: white;
    background-color: black;
    /*animation: glitch 1s linear;*/
}

/*@keyframes glitch {
2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}*/


#content {
    animation: fadeInLate 7s;
}

#header {
    animation: fadeIn 3s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInLate {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.clock {
    font-size: 50px;
    margin: 100px 0px 0px 70px;
}

#name {
    font-size: 50px;
    margin: 0px 0px 0px 70px;
}

#hidden-img-profile {
    display: none;
}

#hidden-text-profile:hover ~ #hidden-img-profile {
    display: block;
    position: absolute;
    z-index: 1;
}

#hidden-img-school {
    display: none;
}

#hidden-text-school:hover ~ #hidden-img-school {
    display: block;
    position: absolute;
    z-index: 1;
}

#hidden-img-van {
    display: none;
}

#hidden-text-van:hover ~ #hidden-img-van {
    display: block;
    position: absolute;
    z-index: 1;
}

.bio-container {
    font-size: 30px;
    margin: 100px 0px 0px 70px;
}

a {
    color: white;
}

mark {
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 3%;
    height: 1.1em;
    line-height: 1.1;
    display: inline-block;
}

#hobbies {
    list-style: none;
    font-size: 25px;
}

.hover-img {
    margin-top: 20px; 
    border-radius:2%; 
    border: 1px solid white; 
}