@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
    overflow-x: hidden;
    /*font-family: "Lucida Console", monospace;*/
    font-family: 'Fira Mono', monospace;
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: white;
    background-color: black;
}


#content {
    animation: fadeInLate 5s;
}

#header {
    animation: fadeIn 3s; 
}

@keyframes fadeInNew {
    0% { opacity: 0; }
    100% { opacity: 0.5; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInLate {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.clock {
    font-size: 50px;
    margin: 75px 0px 0px 70px;
}

#name {
    font-size: 50px;
    margin: 0px 0px 0px 70px;
}

#hidden-img-profile {
    display: none;
}

#hidden-text-profile:hover ~ #hidden-img-profile {
    display: block;
    position: absolute;
    z-index: 1;
}

#hidden-text-profile {
    /*transition: height 0.5s;*/
    transition: 0.5s;
}

#hidden-text-profile:hover {
    font-size: 28px;
}

#hidden-img-school {
    display: none;
}

#hidden-text-school {
    transition: 0.5s;
}

#hidden-text-school:hover {
    font-size: 28px;
}

#hidden-text-school:hover ~ #hidden-img-school {
    display: block;
    position: absolute;
    z-index: 1;
}

#hidden-img-van {
    display: none;
}

#hidden-text-van:hover ~ #hidden-img-van {
    display: block;
    position: absolute;
    z-index: 1;
}

#hidden-text-van {
    transition: 0.5s;
}

#hidden-text-van:hover {
    font-size: 28px;
}

.bio-container {
    font-size: 25px;
    margin: 50px 0px 0px 70px;
}

a {
    color: white;
}

mark {
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 3%;
    height: 1.1em;
    line-height: 1.1;
    display: inline-block;
}

#hobbies {
    list-style: hiragana;
    font-size: 20px;
}

.hover-img {
    margin-top: 20px; 
    border-radius:2%; 
    border: 1px solid white; 
}

table, tr, td {
    font-size: 25px;
    padding: 10px;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    border-radius: 3%;
}

#website {
    transition: 0.5s;
}

#website:hover {
    font-size: 28px;
}

#drake {
    transition: 0.5s;
}

#drake:hover {
    font-size: 28px;
}

#height {
    transition: 0.5s;
}

#height:hover {
    font-size: 28px;
}